@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    background: rgba(36, 36, 38, 1);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.container {
    margin: 0 auto;
    width: 620px;
}

.title_fz90 {
    font-size: 90px;
    font-weight: 300;
}

.title_fz20 {
    font-size: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    transition: all 1s;
    cursor: pointer;
}

.btn:hover, btn:focus {
    background-color: rgba(255, 255, 255, 0.05);
}

.header:after {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.1);
    height: 1px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
}

.header__item {
    position: relative;
    margin-left: 40px;
}

.header__btn {
    position: relative;
    padding: 10px 20px 10px 40px;
}

.header__item-icon {
    position: absolute;
    top: 56%;
    left: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.header__item-icon svg {
    width: 16px;
    height: auto;
    fill: #ffffff;
}

.header__item:first-child svg {
    width: 14px;
}

.timer {
    padding: 40px;
    text-align: center;
}

.timer__wrapper {
    width: 400px;
    margin: 0 auto;
}

.circle-bg {
    fill: none;
    stroke: rgba(255, 255, 255, 0.1);
    stroke-width: 0.5;
}

@keyframes progress {
    0% {
        stroke-dasharray: 100 0;
    }
}

.single-chart {
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 400px;
    background: rgba(36, 36, 38, 1);
    border-radius: 100%;
}

.circle {
    fill: none;
    stroke-width: 0.5;
    stroke-linecap: round;
    animation: progress 1s ease-out backwards;
    stroke: #f5ac0e;
}

@keyframes circle {
    0% {
        stroke-dashoffset: 0;
    }
}

.percentage {
    fill: rgba(36, 36, 38, 1);
    font-family: sans-serif;
    font-size: 0.1em;
    text-anchor: middle;
}

.timer__box-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer__alarm-time {
    display: flex;
    justify-content: center;
}

.timer__alarm-icon svg {
    width: 20px;
    height: auto;
    fill: #f5ac0e;
    margin-right: 5px;
    margin-top: 4px;
}

.timer__alarm-time span {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.timer__buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.btn_round {
    width: 100px;
    height: 100px;
    line-height: 20px;
    border-radius: 100%;
    display: block;
}

.btn_round:not(:last-child) {
    margin-right: 60px;
}

.btn-top {
    margin-top: -48px;
}

.btn-auto {
    background: rgba(245, 172, 14, 0.2);
}

.timer__start-btn, .btn_stop {
    margin-top: 40px;
    padding: 15px 40px;
    background: rgba(245, 172, 14, 0.8);
}

.timer__start-btn:hover,
.timer__start-btn:focus {
    background: rgba(245, 172, 14, 0.5);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0 , 0.6);
    z-index: 1;
}

.container_setting {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 33vw;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2vw;
    padding: 1%;
    z-index: 3;
}

.container__title {
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-size: 1.5vw;
    padding: 2%;
    color: #ffffff;
    margin: 2% auto;
}

.container__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
}

.unicode {
    width: 2.5vw;
    color: #ffffff;
    cursor: pointer;
}

.unicode:hover {
    color: black;
}

.work,
.short__break,
.long__break {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.work h3,
.short__break h3,
.long__break h3 {
    color: #ffffff;
    margin: 3%;
    font-size: 1.1vw;
}

.content__time {
    display: flex;
    font-size: 2vw;
}

.content {
    height: 13vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.content h2 {
    margin: 5% 0 2% 0;
    font-size: 1.4vw;
}

.input_settings {
    width: 84%;
    font-size: 2vw;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.currency {
    font-size: 2vw;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.div_music {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}
.notification {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.notification_input {
    width: 25%;
}

.b {
    display: block;
}

.toggle {
    position: relative;
    width: 4vw;
    height: 2vw;
    border-radius: 2vw;
    background-color: #ddd;

    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgb(0 0 0 / 5%);
}

.check {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.check:checked~.track {
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.2);
}

.check:checked~.switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
}

.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
    border-radius: 40px;
}

.div_mode {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.div_hour {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.currency__hour {
    font-size: 2vw;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.none {
    display: none;
}

.btn-save {
    display: block;
    margin: 25px auto;
    padding: 10px 40px;
}

.themeBody {
    background: rgb(217, 85, 80);
}

@media(max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px 0;
    }
    .container_setting {
        width: 75%;
        margin: 0 auto;
    }
    .input_settings {
        padding: 5px;
    }
    .currency {
        width: auto;
    }
    .currency__hour {
        padding: 5px;
    }
    .toggle {
        width: 6vw;
        height: 3vw;
    }
}

@media(max-width: 576px) {
    .header__list {
        flex-direction: column;
    }
    .header__wrapper {
        padding-left: 10px;
    }
    .header__item {
        margin: 0 0 15px 0;
    }
    .header__btn {
        width: 145px;
    }
    .timer {
        padding: 0;
    }
    .timer__box-wrapper {
        top: 55%;
    }
    .title_fz90 {
        font-size: 60px;
    }
    .timer__start-btn {
        padding: 10px 20px;
    }
    .timer__box {
        width: 500px;
        height: 500px;
    }
    .timer__wrapper {
        width: 100%;
    }
    .circular-chart {
        width: 500px;
    }
    .title_fz120 {
        font-size: 85px;
    }
    .btn_round {
        width: 80px;
        height: 80px;
    }
    .btn_round:not(:last-child) {
        margin-right: 20px;
    }
    .title {
        font-size: 3.5vw;
        margin: 10px;
    }
    .unicode {
        margin-left: 60px;
    }
    .container__title {
        justify-content: center;
    }
    .content h2 {
        font-size: 4.4vw;
    }
    .settings_h3 {
        font-size: 3.1vw !important;
    }
    .input_settings {
        font-size: 4vw;
    }
    .currency__hour {
        font-size: 4vw;
    }
    .toggle {
        width: 16vw;
        height: 7vw;
    }
}

.reminder{
    width: 25%;
}
